[Unit]
Description=webserver Daemon

[Service]
EnvironmentFile=/home/ec2-user/environment.env
ExecStart=/home/ec2-user/webapp.sh
User=ec2-user

[Install]
WantedBy=multi-user.target